<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
  <meta charset="utf-8" />
  <title>我的页面</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=no" />
  <meta http-equiv="x-dns-prefetch-control" content="on" />   
  <link rel="dns-prefetch" href="//img10.360buyimg.com">
  <link rel="dns-prefetch" href="//img11.360buyimg.com">
  <link rel="dns-prefetch" href="//img12.360buyimg.com">
  <link rel="dns-prefetch" href="//img13.360buyimg.com">
  <link rel="dns-prefetch" href="//img14.360buyimg.com">
  <link rel="dns-prefetch" href="//img20.360buyimg.com">
  <link rel="dns-prefetch" href="//img30.360buyimg.com">
  <link rel="dns-prefetch" href="//wq.360buyimg.com">
  
  <!-- S 引用前端页面片 -->
  <!--#include virtual="/sinclude/cssi/fd/h5/test101002/about/mine.shtml" -->
  <!-- E 引用前端页面片 -->

  <!-- global:css -->
  <%= getCSS('gb.css', 'gb') %>
  <!-- endglobal -->

  <%= getCSS() %>
</head>
<!-- 注：加ontouchstart使css：active生效 -->
<body ontouchstart>

  <div class="mod_container">

  </div>
  <!-- S 引用前端页面片 -->
  <!--#include virtual="/sinclude/cssi/fd/h5/test101002/about/mine_js.shtml" -->
  <!-- E 引用前端页面片 -->
  <!-- global:js -->
  <!-- endglobal -->
  <%= getJS() %>
</body>
</html>
